<!DOCTYPE html>
<html>
<head>
  <title>Stripe Analytics</title>
  <script async type="text/javascript" src="http://use.typekit.com/moe0nsn.js" onload="try{Typekit.load();}catch(e){}"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body <%= "id='home'".html_safe if params[:controller] == "home" %>>
	<% flash.each do |key, value| %>
		<div id="alert">
			<%= content_tag :div, value, :class => "alert flash #{key}" unless value.blank? %>
		</div>
	<% end %>
	
	<%= yield %>

</body>
</html>
